*,*::before,*::after{
    box-sizing: border-box;
    // outline: 1px solid green;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
    display: block;
}
a:hover{
    text-decoration: none;
    color: black;
}
.container{
    padding:32px;
}
.menu{
    background: #EDF4EE;
    width: 23%;
    .menu-container{
        padding: 32px;
    }
    .menu-list{
        i{
            font-size: 20px;
            width: 24px;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            line-height: 19px;
            width: 100%;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 28px;
            border-left: 4px solid transparent;
        }
        a:hover{
            border-left: 4px solid #2A8356;
            color: #2A8356;
        }
    }
    .user-photo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg)center center no-repeat;
        background-size: cover;
        cursor: pointer;

        .user-data{
            p{
                font-size: 14px;
                color:#0000009A;
            }
        }
    }
}
.content{
    width: 77%;

    .navbar{
        .search,.navbar-add{
            a{
                padding: 5px;
                border:1px solid transparent;
                border-radius: 5px;
            }
            a:hover{
                border:1px solid #EDF4EE;
                background: rgb(249, 249, 249);
            }
        }

    }

    .table{
        margin-bottom: 63px;

        thead{
            font-weight: bold;
        }
        tbody{
            tr:hover{
                background: #EDF4EE;
            }
            tr{
                border-bottom: 1px solid #CDDDCD;
            }
        }
    }
}
.page{
    button{
        color: black;
        i{
            color: #2A8356;
        }
    }
    button:hover{
        color: white;
        i{
            color: white;
        }
    }
}
.show-window{
    margin: 0 auto;
    margin-top: 30vh;
}
.modal-content{
    .modal-detail{
        .modal-photo{
            height: 141px;
            width: 141px;
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/emir.jpeg) center center no-repeat;
            background-size: cover;    
        }
        input{
            background: #EDF4EE;
            width: 87px;
            height: 25px;
            cursor: pointer;
        }
    }
    .fas-rotate{
        transition: .3s;
    }
    .active{
        transition:.3s;
        transform:rotate(180deg);
    }
}

.assignment{
    .col-4{
        .list-group-item{
            font-size: 12px;
            cursor: pointer;
        }
        .list-group-item:hover{
            background: #EDF4EE;
        }
    }
    .col-8{
        .card-header{
            background: #EDF4EE;
        }
        .media{
            .message-photo{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/emilywang.jpeg)center center no-repeat;
                background-size: cover;
                cursor: pointer;
            }
            .message-time{
                font-size: 12px;
            }
            .code-style{
                padding: 2px;
                background: #EDF4EE;
                color: #2A8356;
                border-radius: 2px;
            }
        }
        .reply-media{
            position: relative;
            .message-photo{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg)center center no-repeat;
                background-size: cover;
                cursor: pointer;
            }
        }

        
    }
}
.replyCollapse{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 15px;
    .visitors-text{
        width: 100%;
        height: 300px;
        li{
            position: relative;
        }
    }
}
